<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="Dictionary"
         connectionString="Data source=(localdb)\mssqllocaldb;
           Initial catalog=Dictionary;
           AttachDbFilename=a:\Учеба\ADO.NET\HomeWork\ADO.NET_HW2\ADO.NET_HW2\App_Data\Dictionary.mdf;
           Integrated security=true;"/>
  </connectionStrings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>